//- index.jade
extends ./layout.jade
script(type='text/javascript' src='js/demo.js')

block row-content
  div.row.image-options
    div.col-lg-12
      h2 Watch The Simulated Video Stream Below and view some Library Images   		
      div.well.row      	
        input.image-radio(type='radio', id='image2', name='images', value='someImage')
        label(for='image2').col-lg-2.col-xs-2.img-container.image
          div.overlay
          img(src='images/Library/img1.png')
        input.image-radio(type='radio', id='image3', name='images', value='someImage')
        label(for='image3').col-lg-2.col-xs-2.img-container.image.widen
          div.overlay
          img(src='images/Library/img2.png')
        input.image-radio(type='radio', id='image4', name='images', value='someImage')
        label(for='image4').col-lg-2.col-xs-2.img-container.image
          div.overlay
          img(src='images/Library/img3.png')
        input.image-radio(type='radio', id='image5', name='images', value='someImage')
        label(for='image5').col-lg-2.col-xs-2.img-container.image
          div.overlay
          img(src='images/Library/img4.png')
        input.image-radio(type='radio', id='image6', name='images', value='someImage')
        label(for='image6').col-lg-2.col-xs-2.img-container.image.widen
          div.overlay
          img(src='images/Library/img5.png')
        input.image-radio(type='radio', id='image6', name='images', value='someImage')
        label(for='image6').col-lg-2.col-xs-2.img-container.image.widen
          div.overlay
          img(src='images/Library/img6.png')        
  div.row-center
   |<div style="position: relative; left: 0; top: 0;">  
   |<video id="video" width="720" controls="true" style="position: relative; top: 0; left: 0;">
   |<source src="movie/movie.mp4"><!-- WebKit -->
   |	Your browser does not support HTML5 video tag. Please download FireFox 3.5 or higher.
   |</video><br/>
   |<img id=filter src="images/Filter.png" style="position: absolute; top: 0px; left: 0px;"/>
   | <img id="output" style="display: inline-block; top: 4px; position: relative ;border: dotted 1px #ccc; padding: 2px;"></img>
   |</div>
  